<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconFileName</key>
		<string>SPABANK.png</string>
		<key>title</key>
		<string>平安银行信用卡</string>
		<key>detail</key>
		<string></string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>20000032.png</string>
		<key>title</key>
		<string>余额宝</string>
		<key>detail</key>
		<string>双11买车劲省30万，余额宝付定金还...</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>ABC.png</string>
		<key>title</key>
		<string>中国农业银行</string>
		<key>detail</key>
		<string></string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>BOC.png</string>
		<key>title</key>
		<string>工商银行</string>
		<key>detail</key>
		<string></string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>09999998.png</string>
		<key>title</key>
		<string>电话</string>
		<key>detail</key>
		<string>这里是电话啊啊啊！！！</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>PSBC.png</string>
		<key>title</key>
		<string>邮政储蓄银行</string>
		<key>detail</key>
		<string></string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>20000032.png</string>
		<key>title</key>
		<string>余额宝</string>
		<key>detail</key>
		<string>呵呵又是余额宝，找不到那么多图片啊</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>20000032.png</string>
		<key>title</key>
		<string>余额宝</string>
		<key>detail</key>
		<string>呵呵又是余额宝，找不到那么多图片啊</string>
	</dict>
</array>
</plist>
